language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

before_script:
  - mkdir app/cache app/logs
  - chmod 777 app/cache app/logs
  - composer install --no-interaction --prefer-source
  - sleep 3

script:
  - ./bin/behat
